.playingCards {
  perspective: 1000px;
  display: inline-block;
}
.Card:hover {
  /*cursor: grab;
  /*transform: rotateY(180deg); */
}
.Card:active {

}
.Card {
    width: 3.0em;
    height: 4.5em;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    font-weight: normal;
    font-size: 2.7em;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: .2em .2em .5em #333;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    float: left;
    text-align: center;
    z-index: 2
}
.Card .Card-back {
    text-indent: -4000px;
    width: 3.0em;
    height: 4.5em;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    background-color: black;
    background-repeat: repeat;
    background-image: url(https://s-media-cache-ak0.pinimg.com/236x/c1/59/b4/c159b4738dae9c9d8d6417228024de8d.jpg);
    /*background-image: url('./card-back.jpg');) */
    background-size: cover;
}
.Card-front,
.Card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Card-front,
.Card-back {
   backface-visibility: hidden;
   transition: transform 0.3s;
}
.Card-back {
  transform: rotateY(180deg);
}
.Suit {
  display: block;
  position: absolute;
  /*left: 0.1em;*/
}
.Suit::after {

}
.heart,
.diamond {
  color: red;
}
.heart::after {
  content: '♥';
  text-align: center;
  visibility: visible;
  display: block;
  position: absolute;
  top: 2em;
  left: 1.4em;
}
.diamond::after {
  content: '♦';
  visibility: visible;
  display: block;
  position: absolute;
  top: 2em;
  left: 1.4em;
}
.spade,
.club {
  color: black;
}
.spade::after {
  content: '♠';
  visibility: visible;
  display: block;
  position: absolute;
  top: 2em;
  left: 1.4em;
}
.club::after {
  content: '♣';
  visibility: visible;
  display: block;
  position: absolute;
  top: 2em;
  left: 1.4em;
}
