.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  color: red;
  font-style: italic;
}
.App-footer {
  background-color: black;
  font-size: small;
  height: 150px;
  padding: 20px;
  color: white;
}
.Hand-dealt {
  display: inline-block;

}
img {
  height: 100px;
}
h3 {
  color: black;
}
h4 {
  color: black;
  font-size: 20px;
}
h5 {
  color: white;
}

.Table {
  border: 1px solid black;
  margin: 10px;
}
.Table p {
  color: red;
  font-size: 25px;
}
.Result {
  border: 1px solid black;
  margin: 10px;
  height: 150px;
}
.Result p {
  font-size: 20px;
}
.Winner {
  border: 1px solid black;
  margin: 10px;
  height: 120px;
}
.Winner p {
  font-size: 20px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
